<footer class="bg-sky-200 py-4 border-t border-gray-200 w-full bottom-0 left-0">
  <div class="container mx-auto px-4">
    <div class="flex justify-center space-x-8">
        <%= link_to '利用規約', page_path('terms') %>
        <p class="text-gray-600">お問い合わせ</p>
        <%= link_to 'プライバシーポリシー', page_path('policy') %>
        <p class="text-gray-600"></p>
    </div>
  </div>
</footer>
